.git
.gitignore
README.md
.env
.env.example
docker-compose.yml
docker
Dockerfile
.dockerignore
node_modules
npm-debug.log
yarn-error.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
vendor/binary
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
tests/
codeception.yml
.php_cs
.php_cs.cache
